<header class="header">
    <nav class="header-nav">
        <ul class="header-list">
            <li class="header__item">
                <img src="../../../../assets/Vector.png" alt="Logo">
            </li>
            <li class="header__item">
                <a routerLink="/games" routerLinkActive="active"  [routerLinkActiveOptions]="{exact:true}" class="header__link">Games</a>
            </li>
            <li class="header__item">
                <a routerLink="/library" routerLinkActive="active" class="header__link">Library</a>
            </li>
            <li class="header__item">
                <a routerLink="/friends" routerLinkActive="active" class="header__link">Friends</a>
            </li>
            <li class="header__item">
                <a routerLink="/profile" routerLinkActive="active" class="header__link">Profile</a>
            </li>
        </ul>
    </nav>
    <router-outlet></router-outlet>
</header>