<header class="header">
    <nav class="header-nav">
        <ul class="header-list">
            <li class="header__item">
                <img src="../../../../assets/Vector.png" alt="Logo">
            </li>
            <li class="header__item">
                <a href="#" class="header__link">Games</a>
            </li>
            <li class="header__item">
                <a href="#" class="header__link">Library</a>
            </li>
            <li class="header__item">
                <a href="#" class="header__link">Friends</a>
            </li>
            <li class="header__item">
                <a href="#" class="header__link">Profile</a>
            </li>
        </ul>
    </nav>
</header>