<app-header></app-header>
<section class="background">
    <div class="login">
        <h1 class="login__header">Reset Info</h1>
        <form class="login-form" [formGroup]="myForm" (ngSubmit)="resetInfo()">
            <label class="login-form__label" for="nickname">Nickname</label>
            <input class="login-form__password" type="text" id="nickname" name="nickname" placeholder="Nickname" formControlName="nickname">
            <label class="login-form__label" for="email">Email</label>
            <input class="login-form__password" type="email" id="email" name="email" placeholder="Email" formControlName="email">  
            <button class="login-form__btn">Save</button>
        </form>
    </div>
</section>