<app-header></app-header>
<section class="friends">
        <div class="friends-block">
            <h1 class="friends__header">Friends</h1>
            <form class="friends-form" [formGroup]="myForm" (ngSubmit)="getAllUsers()">
                <label class="friends-form__label" for="search-friends">Search friends-block</label>
                <input formControlName="emailFriend" class="friends-form__text" type="text" name="searchFriends" id="search-friends" placeholder="Search Friends">
                <button class="friends-form__btn">Search</button>
            </form>
            <h2 class="friends__title">My Friends</h2>
            <app-user-block [friends]="friends" [users]="users" (addFriend)="addFriend($event)"></app-user-block>
            <!-- <app-user-block [friends]="friends"></app-user-block> -->
            <!-- <div class="friends-list">
                <div class="friends-user" *ngFor="let friend of friends" >
                    <span class="friends-user__nickname" *ngIf="friend.status == 'confirmed'">{{friend.nickname}} - {{friend.email}}</span>
                    <button class="friends-user__btn_red friends-user__btn" *ngIf="friend.status == 'confirmed'" (click)="rejectFriend(friend.email)">Remove Friend</button>
                </div>
            </div>
            <div class="friends-list">
                <div class="friends-user" *ngFor="let friend of friends" >
                    <span class="friends-user__nickname" *ngIf="friend.status == 'pending'">{{friend.nickname}} - {{friend.email}}</span>
                    <button class="friends-user__btn_yellow friends-user__btn" (click)="confirmFriend(friend.email)" *ngIf="friend.status == 'pending'">Confirm Friend</button>
                </div>
            </div> -->
            <!-- <div class="friends-list">
                <div class="friends-user" *ngFor="let user of users" >
                    <span class="friends-user__nickname">{{user.nickname}} - {{user.email}}</span>
                    <button class="friends-user__btn_green friends-user__btn" (click)="addFriend(user.email)">Add Friend</button>
                </div>
            </div> -->
        </div>
</section>