<div class="background">
    <div class="login">
        <h1 class="login__header">Sign In</h1>
        <form class="login-form">
            <label class="login-form__label" for="username">Username</label>
            <input class="login-form__password" type="text" id="username" name="username" placeholder="Username">
            <label class="login-form__label" for="email">Email</label>
            <input class="login-form__email" type="email" id="email" name="email" placeholder="Email">
            <label class="login-form__label" for="age">Age</label>
            <input class="login-form__password" type="text" id="age" name="age" placeholder="Age">  
            <button type="submit" class="login-form__btn">Save</button>
        </form>
    </div>
</div>