.games {
    background-color: rgb(238, 237, 237);
    display: flex;
    justify-content: center;
    min-height: calc(100vh - 60px);

    &__header,
    &__subtitle{
        font-weight: normal;
        font-size: 24px;
    }

    &-form {
        display: flex;
        flex-flow: row wrap;

        &__label {
            display: block;
            width: 100%;
        }

        &__text {
            flex-grow: 2;
            padding: 8px;
            margin-top: 20px;
            border: none;
            border-radius: 4px;
            box-shadow: 0px 0px 10px rgb(155, 155, 155);
        }
    
        &__btn {
            margin-left: 10px;
        }
    }

    &-library {
        display: flex;
        justify-content: center;
        gap: 10px;
    }

    &-filter {
        min-width: 25%;
        display: flex;
        flex-flow: column nowrap;

        &__titlePrice,
        &__titleTag {
            font-weight: normal;
            font-size: 24px;
        }

        &__label {
            margin: 10px 0 10px 20px;

            &_center {
                text-align: center;
            }
        }
    }
}