<app-header></app-header>
<section class="games">
    <div class="games-block">
        <h1 class="games__header">Games</h1>
        <form class="games-form" [formGroup]="gameForm" (ngSubmit)="getGameByName()">
            <label class="games-form__label" for="search-games">Search friends-block</label>
            <input formControlName="name" class="games-form__text" type="text" name="searchGames"id="search-games" placeholder="Search Games">
            <button class="games-form__btn">Search</button>
        </form>
        <h2 class="games__subtitle">Featured Games</h2>
        <div class="games-library">
            <app-game [games]="games" (addGameUser)="addGameUser($event)"></app-game>
            <form class="games-filter" [formGroup]="myForm" (ngModelChange)="getGamesByTags()">
                <h2 class="games-filter__titlePrice">Filter by price</h2>
                <input class="here" type="range" id="price" name="genre" formControlName="price">
                <label class="games-filter__label games-filter__label_center" for="price">Any Price</label>
                <h2 class="games-filter__titleTag">Filter by tag</h2>
                <label class="games-filter__label"><input type="checkbox" name="genre" formControlName="indie"> Indie</label>
                <label class="games-filter__label"><input type="checkbox" name="genre" formControlName="action"> Action</label>
                <label class="games-filter__label"><input type="checkbox" name="genre" formControlName="adventure"> Adventure</label>
                <button class="games-game__btn">Submit</button>
            </form>
        </div>
    </div>
</section>