<app-header></app-header>
<section class="library">
    <div class="library-block">
        <h1 class="library__header">My Games</h1>
        <div class="library-games">
            <div class="library__card" *ngFor="let game of games">
                <h3 class="library__card__name">{{game.name}}</h3>
                <img class="library__img" src={{game.img}} alt="Game picture">
                <p class="library__description">{{game.description}}</p>
                <div class="library__buttons">
                    <button class="library__btn library__btn_blue" (click)="alertWindow()">Download</button>
                    <button class="library__btn library__btn_white" (click)="alertWindow()">Share</button>
                </div>
            </div>
        </div>
    </div>
</section>
