<app-header></app-header>
<section class="friends">
    <div class="friends-wrapper">
        <div class="friends-block">
            <h1 class="friends__header">Friends</h1>
            <form class="friends-form">
                <label class="friends-form__label">Search friends-block
                    <br>
                    <input class="friends-form__text" type="text" name="searchFriends" id="search-friends">
                </label>
                <button class="friends-form__btn">Search</button>
            </form>
        </div>
    </div>
</section>